* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 50px;
}
.container {
  width: 1350px;
  height: 700px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot-controls {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: white;
  margin: 50px;
}

.dot {
  size: 3rem;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  background-color: white;
  &:hover {
    background-color: yellow;
  }
}
.content {
  display: flex;
}
.text {
  color: white;
  margin-left: 100px;
  .name {
    font-size: 5rem;
  }
  .more {
    margin-top: 20px;
    text-align: center;
    border: 2px solid white;
    cursor: pointer;
  }
}
