@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin: 50px;
  font-family: "Pretendard-Regular";
  font-weight: bold;
}

.container1 {
  width: 1350px;
  height: 700px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container1 .dot-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 10%;
  height: 700px;
  gap: 10rem;
}
.container1 .dot {
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  background-color: white;
}
.container1 .dot:hover {
  background-color: yellow;
}
.container1 .content {
  display: flex;
}
.container1 .text {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  bottom: 160px;
}
.container1 .text .name {
  font-size: 10rem;
  font-family: "Pretendard-Regular";
  font-weight: bold;
}
.container1 .text .more {
  margin-top: 20px;
  text-align: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
  width: 80px;
}
.container1 .slide img {
  width: 150px;
  height: 150px;
}
.container1 .container {
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
}
.container1 .slick-slide {
  margin: 0px 20px;
}
.container1 .slick-slide img {
  vertical-align: bottom;
}
.container1 .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.container1 .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.container1 .slick-list:focus {
  outline: none;
}
.container1 .slick-slider .slick-track,
.container1 .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.container1 .slick-track {
  position: relative;
  top: 0;
  left: 0;
}
.container1 .slick-track:before,
.container1 .slick-track:after {
  display: table;
  content: "";
}
.container1 .slick-track:after {
  clear: both;
}
.container1 .slick-loading .slick-track {
  visibility: hidden;
}
.container1 .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.container1 [dir=rtl] .slick-slide {
  float: right;
}
.container1 .slick-slide img {
  display: block;
}
.container1 .slick-slide.slick-loading img {
  display: none;
}
.container1 .slick-slide.dragging img {
  pointer-events: none;
}
.container1 .slick-initialized .slick-slide {
  display: block;
}
.container1 .slick-loading .slick-slide {
  visibility: hidden;
}
.container1 .slick-vertical .slick-slide {
  display: block;
  border: 1px solid transparent;
}
.container1 .slick-arrow.slick-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */