@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin: 50px 0;
  font-family: "Pretendard-Regular";
  font-weight: bold;
}

header {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 80%;
  height: 74vh;
  padding: 0;
  background-color: black;
  display: flex;
}
.container .content {
  width: 90%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6%;
}
.container .content .text {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container .content .text .name {
  font-size: 10rem;
  font-family: "Pretendard-Regular";
  font-weight: bold;
}
.container .content .text .more {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  border: 3px solid white;
  cursor: pointer;
  width: 100px;
}
.container .content .text .more:hover {
  background-color: white;
}
.container .content .text .more a {
  text-decoration: none;
  color: white;
}
.container .content .text .more a:hover {
  color: black;
}
.container .content .slide {
  width: 50%;
}
.container .dot-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 10%;
  height: 700px;
  gap: 10rem;
}
.container .dot-controls .dot {
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  background-color: white;
}
.container .dot-controls .dot:hover {
  background-color: yellow;
}
.container .slide img {
  width: 150px;
  height: 150px;
}
.container .slick-slide {
  margin: 0px 20px;
}
.container .slick-slide img {
  vertical-align: bottom;
}
.container .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.container .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.container .slick-list:focus {
  outline: none;
}
.container .slick-slider .slick-track,
.container .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.container .slick-track {
  position: relative;
  top: 0;
  left: 0;
}
.container .slick-track:before,
.container .slick-track:after {
  display: table;
  content: "";
}
.container .slick-track:after {
  clear: both;
}
.container .slick-loading .slick-track {
  visibility: hidden;
}
.container .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.container [dir=rtl] .slick-slide {
  float: right;
}
.container .slick-slide img {
  display: block;
}
.container .slick-slide.slick-loading img {
  display: none;
}
.container .slick-slide.dragging img {
  pointer-events: none;
}
.container .slick-initialized .slick-slide {
  display: block;
}
.container .slick-loading .slick-slide {
  visibility: hidden;
}
.container .slick-vertical .slick-slide {
  display: block;
  border: 1px solid transparent;
}
.container .slick-arrow.slick-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */