* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 80%;
  margin: 0 auto;
}
.container1 {
  width: 80%;
  height: 74vh;
  padding: 0;
  background-color: black;

  display: flex;
  .photo {
    width: 50%;
    img {
      width: 500px;
      height: 500px;
    }
  }
}
