@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 50px 0;
  font-family: "Pretendard-Regular";
  font-weight: bold;
}
header {
  width: 80%;
  margin: 0 auto;
}
.container {
  width: 80%;
  height: 74vh;
  padding: 0;
  background-color: black;
  display: flex;
  .content {
    width: 90%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 6%;
    .photo {
      width: 50%;
      img {
        width: 300px;
        height: 300px;
      }
    }
    .info {
      width: 50%;

      p {
        color: white;
      }
    }
  }
}
